---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/app.css'

import type { SiteMeta } from '@/types'
import { siteConfig } from '@/site-config'

type Props = SiteMeta

const { articleDate, description, ogImage, title } = Astro.props

const titleSeparator = '•'
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ? ogImage : '/social-card.png', Astro.url).href
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title></title>

{/* Icons / Favicon - Force cache refresh */}
<link rel="icon" href="/favicon.ico?v=3" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon" />
<link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png' />
<link rel='manifest' href='/favicon/site.webmanifest' />

{/* Font preloads */}
<!-- <link rel='preload' href='/fonts/Satoshi-Variable.ttf' as='font' type='font/ttf' crossorigin />
<link
	rel='preload'
	href='/fonts/Satoshi-VariableItalic.ttf'
	as='font'
	type='font/ttf'
	crossorigin
/>
<link rel='preload' href='/fonts/ClashDisplay-Variable.ttf' as='font' type='font/ttf' crossorigin /> -->

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content='' name='title' />
<meta content='' name='description' />
<meta content='' name='author' />
<meta content='cybersecurity,offensive security,red team,penetration testing,vulnerability research,CVE,Nimhawk,Volt AI' name='keywords' />

{/* Theme Colour */}
<meta content='' name='theme-color' />

{/* Open Graph / Facebook / WhatsApp / Instagram */}
<meta content={articleDate ? 'article' : 'website'} property='og:type' />
<meta content='Alejandro Parodi' property='og:title' />
<meta content='Offensive Security Engineer & Founder' property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content='Alejandro Parodi' property='og:site_name' />
<meta content={siteConfig.ogLocale} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content='1200' property='og:image:width' />
<meta content='630' property='og:image:height' />
<meta content='image/png' property='og:image:type' />
<meta content='Alejandro Parodi' property='og:image:alt' />
<meta content='https://alejandroparodi.dev' property='og:image:secure_url' />

{/* Facebook specific */}
<meta content='alejandro.parodi' property='fb:admins' />
<meta content='100007123456789' property='fb:app_id' />
<meta content='en_US' property='og:locale:alternate' />
<meta content='es_ES' property='og:locale:alternate' />

{/* Instagram specific */}
<meta content='@alejandroparodi' property='instagram:creator' />

{
	articleDate && (
		<>
			<meta content={siteConfig.author} property='article:author' />
			<meta content={articleDate} property='article:published_time' />
			<meta content='Technology' property='article:section' />
			<meta content='cybersecurity' property='article:tag' />
			<meta content='offensive security' property='article:tag' />
			<meta content='red team' property='article:tag' />
			<meta content='penetration testing' property='article:tag' />
			<meta content='vulnerability research' property='article:tag' />
		</>
	)
}

{/* Twitter / X */}
<meta content='summary_large_image' name='twitter:card' />
<meta content={canonicalURL} name='twitter:url' />
<meta content={title} name='twitter:title' />
<meta content={description} name='twitter:description' />
<meta content={socialImageURL} name='twitter:image' />
<meta content={`${title} - ${siteConfig.title}`} name='twitter:image:alt' />
<meta content='@hdbreaker_' name='twitter:creator' />
<meta content='@hdbreaker_' name='twitter:site' />
<meta content='x.com' name='twitter:domain' />
<meta content='alejandroparodi.dev' name='twitter:app:name:iphone' />
<meta content='alejandroparodi.dev' name='twitter:app:name:ipad' />
<meta content='alejandroparodi.dev' name='twitter:app:name:googleplay' />

{/* LinkedIn specific */}
<meta content='' property='profile:first_name' />
<meta content='' property='profile:last_name' />
<meta content='alejandroparodi' property='profile:username' />
<meta content='' property='profile:title' />
<meta content='' property='article:summary' />
<meta content='' property='article:section' />
<meta content='alejandroparodi.dev' property='linkedin:owner' />

{/* WhatsApp specific (uses Open Graph but these enhance the experience) */}
<meta content={socialImageURL} property='whatsapp:image' />
<meta content='' property='whatsapp:title' />
<meta content='' property='whatsapp:description' />

{/* Additional SEO enhancements */}
<meta content='index, follow' name='robots' />
<meta content='1 days' name='revisit-after' />
<meta content='global' name='distribution' />
<meta content='general' name='rating' />
<meta content='cybersecurity, offensive security, red team, penetration testing, vulnerability research, CVE, Nimhawk, Volt AI' name='subject' />
<meta content='Alejandro Parodi' name='copyright' />
<meta content='en' name='language' />
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />

{/* Sitemap */}
<link href='/sitemap-index.xml' rel='sitemap' />

{/* RSS auto-discovery */}
<link href='/rss.xml' rel='alternate' title={siteConfig.title} type='application/rss+xml' />

<meta content={Astro.generator} name='generator' />
